@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
	user-select: none;
	box-sizing: border-box;
}

:root {
	--background: white;
	--text-primary: #444444;
	--text-secondary: #888888;
	--card-background: #f9f3f3;
	--mode-btn: #fc5e5e;
	--box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

[data-theme="dark"] {
	--background: #525252;
	--text-primary: #ededed;
	--text-secondary: #ededed;
	--card-background: #313131;
	--box-shadow: rgb(68, 68, 68, 0.9) 0px 2px 8px 5px;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
}

.container {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease-in;
}
